<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<link href={% static 'css/fonts.css' %} rel="stylesheet" type="text/css">
		<style type="text/css">
		.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
		</style>
		<style type="text/css">
		@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
		</style>
		<style type="text/css">
		.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
		</style>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="Google Developer Groups are for developers who are interested in Google's developer technology." name="description">
		<meta content="event, gdg, jss, noida, google, programming, android, chrome, developers, web, mobile" name="keywords">
		<meta content="b9imDOrFawXaBXCC4r3uJDdswSYcalD-wWpMYhFq-no" name="google-site-verification">
		<link href="https:/gdgjss.in" rel="canonical"><!-- Social: Twitter -->
		<meta content="summary" name="twitter:card">
		<meta content="GDG" name="twitter:site">
		<meta content="GDG JSS NOIDA" name="twitter:title">
		<meta content="Google Developer Groups are for developers who are interested in Google's developer technology." name="twitter:description">
		<meta content="/img/seo/sharing-twitter.png" name="twitter:image:src"><!-- Social: Facebook / Open Graph -->
		<meta content="GDG JSS NOIDA" property="og:title">
		<meta content="GDG JSS NOIDA" property="og:site_name">
		<meta content="website" property="og:type">
		<meta content="http://gdgjss.in" property="og:url">
		<meta content="/img/seo/sharing-facebook.png" property="og:image">
		<meta content="Google Developer Groups are for developers who are interested in Google's developer technology." property="og:description">
		<title>GDG JSS</title>
		<link href={% static 'img/favicons/favicon.ico' %} rel="shortcut icon">
		<link href={% static 'img/favicons/apple-touch-icon-152x152.png' %} rel="apple-touch-icon" sizes="152x152">
		<link href={% static 'img/favicons/apple-touch-icon-144x144.png' %} rel="apple-touch-icon" sizes="144x144">
		<link href={% static 'img/favicons/apple-touch-icon-120x120.png' %} rel="apple-touch-icon" sizes="120x120">
		<link href={% static 'img/favicons/apple-touch-icon-114x114.png' %} rel="apple-touch-icon" sizes="114x114">
		<link href={% static 'img/favicons/apple-touch-icon-76x76.png' %} rel="apple-touch-icon" sizes="76x76">
		<link href={% static 'img/favicons/apple-touch-icon-72x72.png' %} rel="apple-touch-icon" sizes="72x72">
		<link href={% static 'img/favicons/apple-touch-icon-60x60.png' %} rel="apple-touch-icon" sizes="60x60">
		<link href={% static 'img/favicons/apple-touch-icon-57x57.png' %} rel="apple-touch-icon" sizes="57x57">
		<link href={% static 'img/favicons/favicon-196x196.png' %} rel="icon" type="image/png">
		<link href={% static 'img/favicons/favicon-160x160.png' %} rel="icon" type="image/png">
		<link href={% static 'img/favicons/favicon-96x96.png' %} rel="icon" type="image/png">
		<link href={% static 'img/favicons/favicon-32x32.png' %} rel="icon" type="image/png">
		<link href={% static 'img/favicons/favicon-16x16.png' %} rel="icon" type="image/png">
		<meta content="#2b5797" name="msapplication-TileColor">
		<meta content={% static 'img/favicons/mstile-144x144.png' %} name="msapplication-TileImage">
		<meta content={% static 'img/favicons/browserconfig.xml' %} name="msapplication-config">
		<link rel="stylesheet" href={% static 'css/font-awesome/css/font-awesome.min.css' %}>
		<link href={% static 'css/main.css' %} rel="stylesheet"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
		<style type="text/css">
		.gm-style {
		font: 400 11px Roboto, Arial, sans-serif;
		text-decoration: none;
		}
		.gm-style img { max-width: none; }
		</style>
		<style type="text/css">
		@-webkit-keyframes _gm5835 {
		0% { -webkit-transform: translate3d(0px,-500px,0); -webkit-animation-timing-function: ease-in; }
		50% { -webkit-transform: translate3d(0px,0px,0); -webkit-animation-timing-function: ease-out; }
		75% { -webkit-transform: translate3d(0px,-20px,0); -webkit-animation-timing-function: ease-in; }
		100% { -webkit-transform: translate3d(0px,0px,0); -webkit-animation-timing-function: ease-out; }
		}
		</style>
		<!-- Loader -->
		<style>
		.no-js #loader { display: none;  }
		.js #loader { display: block; position: absolute; left: 100px; top: 0; }
		.loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9997;
		background: url(../../static/img/loader.gif) center no-repeat #fff;
		}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery//1.12.4/jquery.min.js"></script>
		<script>
		$(window).load(function() {
		$(".loader").fadeOut("slow");;
		});
		</script>
	</head>
	<body>
		<div class="loader"></div>
		<div class="st-container" id="st-container">
			<div class="st-pusher">
				<div class="st-content">
					<!-- Begin Hero Section -->
					<section class="top-section-hero top-section image-section" id="top-section-hero" style="background-image: url(../../static/img/sections-background/hero.jpg);">
						<header class="top-header" id="top-header">
							<div class="overlay white-solid">
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="menu-trigger icon icon-menu visible-xs" id="menu-trigger" viewbox="0 0 32 32">
								<g xmlns="http://www.w3.org/2000/svg" id="icon-menu">
									<path class="path1" d="M4 6.667h24q0.552 0 0.943 0.391t0.391 0.943-0.391 0.943-0.943 0.391h-24q-0.552 0-0.943-0.391t-0.391-0.943 0.391-0.943 0.943-0.391zM4 22.667h24q0.552 0 0.943 0.391t0.391 0.943-0.391 0.943-0.943 0.391h-24q-0.552 0-0.943-0.391t-0.391-0.943 0.391-0.943 0.943-0.391zM4 14.667h24q0.552 0 0.943 0.391t0.391 0.943-0.391 0.943-0.943 0.391h-24q-0.552 0-0.943-0.391t-0.391-0.943 0.391-0.943 0.943-0.391z"/>
								</g>
								<use xmlns="http://www.w3.org/2000/svg" xmlns:xlink="{% static "img/sprites/sprites.svg" %}#icon-menu" xlink:href="#icon-menu" transform="translate(434 0)"/>
							</svg>
							<a class="logo-header" href="/" id="logo-header">
								<div class="logo logo-light">
								</div></a>
								<nav class="st-menu st-effect" id="menu">
									<div class="logo-navbar logo logo-dark visible-xs">
									</div>
									<ul>
										<li>
											<a class="current" href={% url 'client:index' %}>Home</a>
										</li>
										<li>
											<a class="" href={% url 'client:events' %}>Events</a>
										</li>
										<li>
											<a class="" href={% url 'client:team' %}>Team</a>
										</li>
										<li>
											<a class="" href={% url 'client:projects' %}>Projects</a>
										</li>
									</ul>
									<ul class="bottom-navlinks visible-xs" id="bottom-navlinks">
										<li>
											<a href={% url 'client:register' %}>Register</a>
										</li>
									</ul>
									<a class="right-nav-button right-nav-button-hidden btn btn-primary waves-effect waves-button waves-light waves-float pull-right hidden-xs hidden-sm" href={% url 'client:register' %}>Register</a>
								</nav>
							</header>
							<div class="content-wrapper">
								<div class="jumbotron">
									<div class="animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
										<h1><span class="hidden-xs" id="typeout-text"></span><span class="typed-cursor"></span><span class="typeout-fallback">Welcome</span></h1>
										<p></p>
										<a class="btn btn-primary waves-effect waves-button waves-light waves-float" href={% url 'client:register' %}>Register</a>
									</div>
								</div>
								<a class="explore" href="#about"><svg class="icon icon-arrow-down" viewbox="0 0 32 32">
									<use xlink:href={% static 'img/sprites/sprites.svg' %}#icon-arrow-down>
								</use></svg></a>
							</div>
						</section>
						<!-- End Hero Section --><!-- About Section -->
						<section class="about" id="about">
							<div class="content-wrapper">
								<div class="col-lg-10 col-lg-offset-1">
									<h3>About GDG JSS Noida</h3>
									<div class="row about-details">
										<div class="col-md-3 col-xs-6">
											<div class="animated hiding" data-animation="fadeInDown" data-delay="0">
												<h5>Tech-talks</h5>
												<img alt="Conference" class="img-circle" height="128" src={% static 'img/iconTalks.png' %} width="128">
												<p>Fun talks on new and emerging topics by IT professionals and regular speakers.</p>
											</div>
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="animated hiding" data-animation="fadeInDown" data-delay="500">
												<h5>Workshops</h5>
												<img alt="Workshops" class="img-circle" height="128" src={% static 'img/iconWorkshops.png' %} width="128">
												<p>Full-day of workshops, hands-on experience, hacking and debugging. Come and tame your favourite technology!</p>
											</div>
										</div>
										<div class="clearfix visible-xs">
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
												<h5>Events</h5>
												<img alt="Hackathon" class="img-circle" height="128" src={% static 'img/iconEvents.png' %} width="128">
												<p>Overnight and online games! Want to test your coding skills? Grab your laptop and join us!</p>
											</div>
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="animated hiding" data-animation="fadeInDown" data-delay="1500">
												<h5>Meetups</h5>
												<img alt="Hackathon" class="img-circle" height="128" src={% static 'img/iconMeetups.png' %} width="128">
												<p>Provides a platform for people to meet and share ideas.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- End About Section --><!-- Begin Statistic Section -->
						<section class="statistic image-section parallax" id="statistic" style="min-height: 200px">
							<div class="overlay solid-overlay">
							</div>
							<div class="content-wrapper">
								<div class="col-lg-10 col-lg-offset-1">
									<div class="col-md-3 col-xs-6">
										<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
											<div class="stat">
												<span class="timer" data-from="0" data-to="50">50</span>+
											</div>
											<div class="stat-info">
												workshops
											</div>
											<hr>
											<p class="small">on Python, Git, Web Development and many more.</p>
										</div>
									</div>
									<div class="col-md-3 col-xs-6">
										<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
											<div class="stat">
												<span class="timer" data-from="0" data-to="20">20</span>+
											</div>
											<div class="stat-info">
												tech talks
											</div>
											<hr>
											<p class="small">on open-source tech, GSoC and many more.</p>
										</div>
									</div>
									<div class="clearfix visible-xs">
									</div>
									<div class="col-md-3 col-xs-6">
										<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
											<div class="stat">
												<span class="timer" data-from="0" data-to="15">15</span>+
											</div>
											<div class="stat-info">
												events
											</div>
											<hr>
											<p class="small">over the year.</p>
										</div>
									</div>
									<div class="col-md-3 col-xs-6">
										<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
											<div class="stat">
												<span class="timer" data-from="0" data-to="3">3</span>
											</div>
											<div class="stat-info">
												codelabs
											</div>
											<hr>
											<p class="small">on Android.</p>
										</div>
									</div>
									<div class="clearfix visible-xs">
									</div>
								</div>
							</div>
						</section>
						<!-- End Statistic Section --><!-- Begin Latest News Section -->
						<section class="latest-news" id="latest-news">
							<div class="content-wrapper">
								<div class="col-lg-10 col-lg-offset-1">
									<h3>Some moments</h3>
									<article class="row">
										<div class="post col-md-4 col-sm-4 text-left animated hiding imgWrap" data-animation="fadeInDown" data-delay="500">
											<img class="img-responsive imgImg" src={% static 'img/hackathon/os1.jpg' %}>
											<div class="img-desc-layer">
												<p class="img-desc"><h3></h3></p>
											</div>
										</div>
										<div class="post col-md-4 col-sm-4 text-left animated hiding imgWrap" data-animation="fadeInDown" data-delay="500">
											<img class="img-responsive imgImg" src={% static 'img/hackathon/os2.jpg' %}>
											<div class="img-desc-layer">
												<p class="img-desc"><h3></h3></p>
											</div>
										</div>
										<div class="post col-md-4 col-sm-4 text-left animated hiding imgWrap" data-animation="fadeInDown" data-delay="500">
											<img class="img-responsive imgImg" src={% static 'img/hackathon/os3.jpg' %}>
											<div class="img-desc-layer">
												<p class="img-desc"><h3></h3></p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</section>
						<!-- End Latest News Section --><!-- Begin Location Section -->
						<section class="location-map" id="location-map">
							<iframe frameborder="0" style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223) border:0"
							src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDH5mPzRXT8JI9m01mXhsesDQEX4Tl8oY
							&q=place_id:ChIJf1Y03EHlDDkRGWvWI8sn0E8" allowfullscreen>
							</iframe>
						</section>
						<!-- End Location Section -->
						<!-- Begin Footer -->
						<footer class="footer" id="footer">
							<div class="row">
								<div class="col-md-4 col-xs-6">
									<h5>Links</h5>
									<ul>
										<li>
											<a href="https://developers.google.com/groups" target="_blank">Google Developers</a>
										</li>
									</ul>
								</div>
								<div class="col-md-4 col-xs-6">
									<h5>Contacts</h5>
									<ul>
										<li>
											<a href="mailto:gdgjssn@gmail.com" target="_blank">gdgjssn@gmail.com</a>
										</li>
									</ul>
								</div>
								<div class="col-xs-12 hidden-xs col-sm-12 hidden-sm col-md-4">
 									<div class="logo logo-footer logo-gray pull-right">	
 									</div>
  								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<ul class="social-links">
										<li>
											<a href="https://plus.google.com/+GDGJSSNoida" target="_blank"><svg class="icon icon-google-plus" viewbox="0 0 30 32">
												<use xlink:href={% static 'img/sprites/sprites.svg' %}#icon-google-plus>
											</use></svg></a>
										</li>
										<li>
											<a href="https://www.facebook.com/gdgjss/" target="_blank"><svg class="icon icon-facebook" viewbox="0 0 30 32">
												<use xlink:href={% static 'img/sprites/sprites.svg' %}#icon-facebook>
											</use></svg></a>
										</li>
										<li>
											<a href="https://github.com/GDG-JSS-NOIDA/" target="_blank"><svg class="icon icon-github" viewbox="0 0 30 32">
												<use xlink:href={% static 'img/sprites/sprites.svg' %}#icon-github>
											</use></svg></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="copyright">Based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Built with <i class="fa fa-fw fa-coffee"></i> and <i class="fa fa-fw fa-heart"></i> by <a href="#">GDG JSS Noida.</a></p>
								</div>
							</div>
						</footer>
						<!-- End Footer -->
					</div>
				</div>
			</div>
			<script async src="http://www.google-analytics.com/analytics.js"></script>
			<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-43643469-5', 'gdg-x.github.io'); ga('send', 'pageview');
			</script>
			<script src={% static 'js/bootstrap.min.js' %}>	</script>
			<script>
			if (typeof($.fn.modal) === 'undefined') { document.write('<script src="/js/bootstrap.min.js><\/script>') }
			</script>
			<script src={% static 'js/default.js' %}>
			</script>
			<script>
			Waves.displayEffect();
			$(document).ready(function() {
				$(function() {
					if ($(window).width() > 767) {
						$("#typeout-text").typed({
							strings: ["", "Welcome", "to", "GDG JSS NOIDA"],
							typeSpeed: 150,
							backDelay: 900,
							loop: true
						});
					}
				});
			});
			</script>
			<script src={% static 'js/scripts.min.js' %}></script>
			<script src={% static 'js/jquery.isotope.min.js' %}></script>
		</body>
	</html>